
#content {
	color: black;
	font-size: 20px;
	background-color: white;
	text-align: center;
}

h1{
	color: black;
	font-size: 20px;
	background-color: white;
}

#one {
	height: 100px;
	width: 100px;
	text-align: center;
	align-content: center;
}

#two {
	height: 100px;
	width: 100px;
	text-align: center;
	align-content: center;
}

#three {
	height: 100px;
	width: 100px;
	text-align: center;
	align-content: center;
}

#four {
	height: 100px;
	width: 100px;
	text-align: center;
	align-content: center;
}

#inactiveBox1 {
	background-color: red;
	opacity: 0.5;
}

#activeBox1 {
	background-color: red;
	opacity: 1;

}

#inactiveBox2 {
	background-color: green;
	opacity: 0.5;
}

#activeBox2 {
	background-color: green;
	opacity: 1;
}

#inactiveBox3 {
	background-color: blue;
	opacity: 0.5;
}

#activeBox3 {
	background-color: blue;
	opacity: 1;
}

#inactiveBox4 {
	background-color: yellow;
	opacity: 0.25;
}


#activeBox4 {
	background-color: yellow;
	opacity: 1;
}

.btn {
	height: 30px;
	width: 40px;
	text-align: center;
	align-content: center;
	background-color: transparent;

}


.img {
	height: 12px;
	width: 12px;
	text-align: center;
	align-text: center;
}

#footer {
	margin: auto;
	text-align: center;

}









