
#content {
	color: black;
	font-size: 20px;
	background-color: white;
	text-align: center;
}

h1{
	color: black;
	font-size: 70px;
	background-color: white;
}


#red {
	height: 200px;
	width: 200px;
	text-align: center;
	align-content: center;
	background-color: red;
	opacity: 0.5;
}

#green {
	height: 200px;
	width: 200px;
	text-align: center;
	align-content: center;
	background-color: green;
	opacity: 0.5;
}

#blue {
	height: 200px;
	width: 200px;
	text-align: center;
	align-content: center;
	background-color: blue;
	opacity: 0.5;
}

#yellow {
	height: 200px;
	width: 200px;
	text-align: center;
	align-content: center;
	background-color: yellow;
	opacity: 0.5;
}


.btn {
	height: 30px;
	width: 40px;
	text-align: center;
	align-content: center;
	background-color: transparent;

}

#start {
	height: 70px;
	width: 70px;
	text-align: center;
	
}



.img {
	height: 12px;
	width: 12px;
	text-align: center;
	align-text: center;
}

#footer {
	margin: auto;
	text-align: center;

}









